/* brown: 7b441b
lt yellow: fee990
green: 618815 */


body {
  background-image: url("../img/bg.png");
  background-repeat: repeat;
}

.text-block {
  background-color: #fee990;
  opacity: 80%;
  position: absolute;
  left: 20px
}