body {
  background-image: url("../img/bg.png");
  background-repeat: repeat;
}

/* brown: 7b441b
lt yellow: fee990
green: 618815 
cream: f7f4eb*/

.header-text {
  border-radius: 10px;
  background-color: #f7f4eb;
  border: solid thin #618815;
  text-align: center;
}

.form-frame {
  border-radius: 10px;
  background-color: #fee990;
  border: solid thin #618815;
  text-align: center;
}

.text-block {
  background-color: #fee990;
  opacity: 80%;
  position: absolute;
  top: 20px;
  left: 20px;
}

label {
  color: #324708
}

.list-group-item {
  background-color: #f7f4eb;
}

.icon-img {
  height: 111px;
  width: 169px;
}